<footer class="footer">
    <ul class="nav-links">
        <li>
            &copy; <%= new Date().getFullYear(); %>
            <a href="https://www.instagram.com/olyashelep/" target="_blank">inst</a>
            <a href="mailto:shelep.olya@gmail.com" target="_blank">gmail</a>
        </li>
    </ul>
</footer>

 