<footer class="footer">
    <ul class="nav-links">
        <li>
            &copy; <%= new Date().getFullYear(); %>
            <a href="https://www.instagram.com/olyashelep/" target="_blank">inst</a>
            <a href="mailto:shelep.olya@gmail.com" target="_blank">gmail</a>
        </li>
    </ul>
    
<div class="contact-form">
    <h2 class="heading">contact us</h2>
    <form action="/sendMessage" method="POST">
        <div class="input-group">
            <div class="input-box">
                <input type="text" placeholder="Full Name" id="fullName" name="fullName">
                <input type="email" placeholder="Email" id="email" name="email">
            </div>
            <div class="input-box">
                <input type="text" placeholder="Phone Number" id="phoneNumber" name="phoneNumber">
                <input type="text" placeholder="Subject"id="suject" name="subject">
            </div>
        </div>

        <div class="input-group-2">
            <textarea cols="30" rows="10" placeholder="Your Message" id="message" name="message"></textarea>
            <input type="submit" value="Send Message" class="btn">
        </div>
    </form>
</div>
</footer> 

 