<footer class="footer">
    <ul>
        <li>&copy; <%= new Date().getFullYear(); %></li>
        <li>
            <a href="https://www.instagram.com/olyashelep/" target="_blank">inst</a>
        </li>
        <li>
            <a href="mailto:shelep.olya@gmail.com" target="_blank">gmail</a>
        </li>
    </ul>
</footer>

