<header class="header">
    <img src="/images/icon.png" alt="logo" class="logo">
    <nav>
        <ul class="nav-links">
            <li >
                <a href="./../main.ejs" >Home</a>
                <a href="./../about.ejs">About</a>
                <a href="./../test.ejs">Test</a>
                <a href="./../login.ejs">Log in</a>
                <a href="./../signup.ejs">Sign up</a>
            </li>        
        </ul>
    </nav>
</header>


