<header class="header">
    <img src="/images/icon.png" alt="logo" class="logo">
    <nav>
        <ul class="nav-links">
            <li >
                <a href="/" >Home</a>
                <a href="/about">About</a>
                <a href="/test">Test</a>
                <a href="/login">Log in</a>
                <a href="/signup">Sign up</a>
            </li>        
        </ul>
    </nav>
</header>


