<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>About</title>
   
</head>
<body class="auth-body">
    <%- include('./partials/header.ejs') %>
    <h1>it's an about page</h1>
    <%- include('./partials/footer.ejs') %>
</body>



</html>
