<section class="about">
    <div class="about-items">
    <div class="main1">
        <img src="/images/msg5530449648-349593 (1).jpg" alt="author photo">
        <div class="about-text">
            <h5>Developer & Creator</h5>
            <p>Hi there! I am a backend developer.
                 I did this web page for you to laugh.
                  I am not a psychologist or therapist 
                  and I don't have any degree in medicine. 
                  So don't take it serious. Love ya guys
            </p>
        </div>
    </div>
</div>
</section>