<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>About</title>
   
</head>
<body class="main">
    <%- include('./partials/header.ejs') %>
    <h1 class="main">it's an about page</h1>
    <%- include('./partials/footer.ejs') %>
</body>



</html>
