<div class="add-test">
 <form action="/addNumberOfQuestions" method="POST">
    <input type="number" name="numberOfQuestions"  placeholder="number of questions" required>
    <input type="number" name="numberOfResults" placeholder="number of results" required>
    <button type="submit">next</button>
 </form> 
</div>