 <form action="/addNumberOfQuestions" method="POST">
    <input type="text" name="numberOfQuestions"  placeholder="enter number of questions in your test" required>
    <input type="number" name="numberOfResults" placeholder="Enter number of results" required>
    <button type="submit">next</button>
 </form> 