 <form action="/addNumberOfQuestions" method="POST">
    <h2 class="main-h1">enter number of questions in your test</h2>
    <input type="text" name="numberOfQuestions" required>
    <input type="number" name="numberOfResults" placeholder="Enter number of results" required>
    <button type="submit"> next</button>
 </form> 