<div class="main-container">
    <h2>Results</h2>
    <p><%= resMessage %></p>

<div class="image">
    <img  id="cute-image" src="/images/cute-img.jpg" alt="cute img" width="400px">

<script src="/scripts/changePhoto.js"></script>
