<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Create Test</title>
</head>
<body class="main">
    <%- include('./authPartials/header.ejs') %>
    <div class="wrapper">
        <form action="/submit-test" method="post" class="form-container">
            <div class="wrap">
                <div class="tests-wrapper">
                    <div class="question">
                        <svg fill="none" height="24" stroke-width="1.5" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M9 9C9 5.49997 14.5 5.5 14.5 9C14.5 11.5 12 10.9999 12 13.9999" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 18.01L12.01 17.9989" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></svg>
                    </div>
                    <h2 class="question">Create a New Test</h2>
                    <label for="question">Question:</label>
                    <input type="text" name="question" id="question" required>
                    <br>
                    <label for="answer1">Answer 1:</label>
                    <input type="text" name="answers[]" id="answer1" required>
                    <br>
                    <label for="answer2">Answer 2:</label>
                    <input type="text" name="answers[]" id="answer2" required>
                    <br>
                    <label for="answer3">Answer 3:</label>
                    <input type="text" name="answers[]" id="answer3" required>
                    <br>
                    <label for="author">Author:</label>
                    <input type="text" name="author" id="author" required>
                    <br>
                </div>
            </div>
            
            <div class="test-submit">
                <input type="submit" value="Submit" class="submit-btn">
            </div>
        </form>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>