<div class="wrapper">
  <p>Welcome</p>
  <h1><%= user.name %></h1>
</div>
<div class="test-link-wrapper">
  <a href="/addTest" class="test-link">Ви можете створити власний тест і викласти його на сайт.</a>
</div>
  <div class="image">
      <img  id="cute-image" src="/images/cute5.jpg" alt="cute photo" width="400px">

<script src="/scripts/changePhoto.js"></script>
  </div>
