<div class="wrapper">
    <p>здавалося б все -- можна вішатись,</p>
    <h1>але</h1>
  </div>
  <div class="test-link-wrapper">
    <a href="/test/669f714502a59bb7c2c3dfbe" class="test-link">пройдіть короткий тест на тип особистості за Шелеп</a>
  </div>
    <div class="image">
        <img  id="cute-image" src="/images/cute5.jpg" alt="cute photo" width="400px">
  
  <script src="/scripts/changePhoto.js"></script>
</div>