<div class="main">
    <div class="main-content">
      <div class="form-container">
        <h2>Reset Password</h2>
        <form action="/auth/resetPassword" method="POST">
            <input type="hidden" name="token" value="<%= token %>">
            <div class="name-form-group">
                <label for="password">New Password:</label>
                <input 
                  type="password" 
                  id="password" 
                  name="password" 
                  placeholder="Enter your new password" 
                  required>
            </div>
            <div class="name-form-group">
                <label for="passwordConfirm">Confirm New Password:</label>
                <input 
                  type="password" 
                  id="passwordConfirm" 
                  name="passwordConfirm" 
                  placeholder="Confirm your new password" 
                  required>
            </div>
            <button type="submit" class="submit-btn">Reset Password</button>
        </form>
      </div>
    </div>
</div>
