
    <div class="main-container">
        <h2>Results</h2>
        <p><%= resMessage %></p>
        <a href="/" class="test">Go back to home or </a>
        <a href="/signup" class="test">sign up and continue </a>
   
    <div class="image">
        <img  id="cute-image" src="/images/cute-img.jpg" alt="cute img" width="400px">

<script src="/scripts/changePhoto.js"></script>
