<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Results</title>
</head>
<body class="auth-body">
    <%- include('./partials/header.ejs') %>
    <div class="main-container">
        <h2>Results</h2>
        <p><%= resMessage %></p>
        <a href="/" class="test">Go back to home or </a>
        <a href="/signup.ejs">sign up and continue </a>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
