<body>
    <%- include('./partials/header.ejs') %>
    <form action="/submit" method="post" class="form-container">
    <div class="wrap">
    <div class="test-wrapper">
        <div class="question">
            <svg fill="none" height="24" stroke-width="1.5" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M9 9C9 5.49997 14.5 5.5 14.5 9C14.5 11.5 12 10.9999 12 13.9999" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 18.01L12.01 17.9989" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></svg>
        </div>
        <h2 class="question">Що ви оберете</h2>
        <input type="radio" name="ans" class="answer" required>Провести вихідні вдома і відпочити<br>
        <input type="radio" name="ans" class="answer" required>Відправитись у подорож із друзями.<br>
        <input type="radio" name="ans" class="answer" required>Не маю часу на відпочинок. У мене горять дедлайни.<br>
    </div>
    <div class="test-wrapper">
        <div class="question">
            <svg fill="none" height="24" stroke-width="1.5" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M9 9C9 5.49997 14.5 5.5 14.5 9C14.5 11.5 12 10.9999 12 13.9999" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 18.01L12.01 17.9989" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></svg>
        </div>
        <h2 class="question">Що ви оберете</h2>
        <input type="radio" name="ans1" class="answer" required>Відеогру.<br>
        <input type="radio" name="ans1" class="answer" required>Книгу.<br>
        <input type="radio" name="ans1" class="answer" required>Серіал.<br>
    </div>
    <div class="test-wrapper">
        <div class="question">
            <svg fill="none" height="24" stroke-width="1.5" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M9 9C9 5.49997 14.5 5.5 14.5 9C14.5 11.5 12 10.9999 12 13.9999" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 18.01L12.01 17.9989" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></svg>
        </div>
        <h2 class="question">Що ви оберете</h2>
        <input type="radio" name="ans2" class="answer" required>Файно поїсти.<br>
        <input type="radio" name="ans2" class="answer" required>Файно поспати.<br>
        <input type="radio" name="ans2" class="answer" required>На одну годину в добі більше.<br>
    </div>
    <div class="test-wrapper">
        <div class="question">
            <svg fill="none" height="24" stroke-width="1.5" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M9 9C9 5.49997 14.5 5.5 14.5 9C14.5 11.5 12 10.9999 12 13.9999" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 18.01L12.01 17.9989" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></svg>
        </div>
        <h2 class="question">Що ви оберете</h2>
        <input type="radio" name="ans3" class="answer" required>Одразу виконати завдання.<br>
        <input type="radio" name="ans3" class="answer" required>Відкласти на завтра.<br>
        <input type="radio" name="ans3" class="answer" required>Розподілити на кілька днів.<br>
    </div>
    <div class="test-wrapper">
        <div class="question">
            <svg fill="none" height="24" stroke-width="1.5" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M9 9C9 5.49997 14.5 5.5 14.5 9C14.5 11.5 12 10.9999 12 13.9999" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 18.01L12.01 17.9989" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></svg>
        </div>
        <h2 class="question">Що ви оберете</h2>
        <input type="radio" name="ans4" class="answer" required>Провести місяць наодинці з собою.<br>
        <input type="radio" name="ans4" class="answer" required>Провести місяць постійно перебуваючи у компанії незнайомих людей.<br>
        <input type="radio" name="ans4" class="answer" required>Провести місяць із людиною, яка вам неприємна, але ви добре знайомі.<br>
    </div>
    <div class="test-wrapper">
        <div class="question">
            <svg fill="none" height="24" stroke-width="1.5" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M9 9C9 5.49997 14.5 5.5 14.5 9C14.5 11.5 12 10.9999 12 13.9999" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 18.01L12.01 17.9989" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></svg>
        </div>
        <h2 class="question">Що ви оберете</h2>
        <input type="radio" name="ans5" class="answer" required>Бути чесним у оцінюванні себе.<br>
        <input type="radio" name="ans5" class="answer" required>Перебільшити свої досягнення.<br>
        <input type="radio" name="ans5" class="answer" required>Применшити свої досягнення.<br>
    </div>
    <div class="test-wrapper">
        <div class="question">
            <svg fill="none" height="24" stroke-width="1.5" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M9 9C9 5.49997 14.5 5.5 14.5 9C14.5 11.5 12 10.9999 12 13.9999" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 18.01L12.01 17.9989" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></svg>
        </div>
        <h2 class="question">Ви вірите, що</h2>
        <input type="radio" name="ans6" class="answer" required>Всі люди, які в чомусь краще Вас, досягли цього нечесним шляхом.<br>
        <input type="radio" name="ans6" class="answer" required>Всі люди, які в чомусь краще Вас, досягли цього важкою працею.<br>
        <input type="radio" name="ans6" class="answer" required>Немає людей, кращих за мене.<br>
    </div>
    <div class="test-wrapper">
        <div class="question">
            <svg fill="none" height="24" stroke-width="1.5" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M9 9C9 5.49997 14.5 5.5 14.5 9C14.5 11.5 12 10.9999 12 13.9999" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 18.01L12.01 17.9989" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></svg>
        </div>
        <h2 class="question">На вашу думку,</h2>
        <input type="radio" name="ans7" class="answer" required>Переважну частину успіху вирішує удача.<br>
        <input type="radio" name="ans7" class="answer" required>Удача нічого не вирішує.<br>
         <input type="radio" name="ans7" class="answer" required>Удачі не існує.<br>
    </div>
    <div class="test-wrapper">
        <div class="question">
            <svg fill="none" height="24" stroke-width="1.5" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M9 9C9 5.49997 14.5 5.5 14.5 9C14.5 11.5 12 10.9999 12 13.9999" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 18.01L12.01 17.9989" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></svg>
        </div>
        <h2 class="question">Ви переконані, що</h2>
        <input type="radio" name="ans8" class="answer" required>Цим світом керує Тіньовий уряд.<br>
        <input type="radio" name="ans8" class="answer" required>Земля плоска.<br>
        <input type="radio" name="ans8" class="answer" required>Вільям Шекспір -- вампір.<br>
    </div>
    <div class="test-submit">
    <input type="submit" value="Submit" class="submit-btn">
</div>
</form>
</div>
    <%- include('./partials/footer.ejs') %>
</body>