<div class="more-tests">
    <% if (tests.length > 0) { %>
        <div class="wrapper">
            <% tests.forEach(test => { %>
                <div class="test">
                    <h2><span>name:</span> <%= test.name %></h2>
                    <p class="description">description: <%= test.description %></p>
                    <p class="created-by">created by: <%= test.author %></p>
                    <a href="/authTest/<%= test._id %>">Take this test</a>
                </div>
            <% }); %>
        </div>
    <% } else { %>
        <p>No tests found.</p>
    <% } %>
</div>
