<header class="header">
    <img src="/images/icon.png" alt="logo" class="logo">
    <nav>
        <ul class="nav-links">
            <li >
                <a href="/home" >Home</a>
                <a href="/addTest">Create test</a>
                <a href="/moreTests">More tests</a>
                <a href="/me">Me</a>
            </li>        
        </ul>
    </nav>
</header>


