<header class="header">
    <img src="/images/icon.png" alt="logo" class="logo">
    <nav>
        <ul class="nav-links">
            <li >
                <a href="./../home.ejs" >Home</a>
                <a href="./../createTest.ejs">Create test</a>
                <a href="./../moreTests.ejs">More tests</a>
            </li>        
        </ul>
    </nav>
</header>


