* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.test-body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h2 {
  text-align: center;
  margin-bottom: 30px;
}
.name-form-group {
  margin-bottom: 15px;
}
.name-form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.name-form-group input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
header,
footer {
  flex-shrink: 0;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #472dbb;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.submit-btn:hover {
  background-color: #4565a0;
}
p {
  margin-top: 15px;
}

form p {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

input[type="radio"] {
  margin-right: 10px;
}

.form-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.header,
.footer {
  border-radius: 3px;
  background-color: #333;
  color: #fff;
  padding: 20px;
}
.a-test {
  display: block;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  color: #007bff;
}
.a-test:hover {
  text-decoration: dotted;
}
.header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header nav ul li {
  display: inline;
  margin-right: 20px;
}
.header nav ul li a {
  color: #fff;
  text-decoration: none;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer ul li {
  display: inline;
  margin-right: 20px;
}

.footer ul li a {
  color: #fff;
  text-decoration: none;
}
