@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  display: flex;
  flex-direction: column;
}

/* PARTIALS HEADER */
li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}
.header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 10%;
  background-color: #3a523b;
  border-radius: 3px;
}
.logo {
  cursor: pointer;
}
.nav-links {
  list-style: none;
}
.nav-links {
  display: inline-block;
}
.nav-links li a {
  transition: all 0.3s ease 0s;
  padding: 0px 15px;
}
.nav-links li a:hover {
  color: #b7c2b7;
}
/* button {
  padding: 9px 25px;
  background-color: #346b36;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
} */
.submit-btn {
  padding: 4px 15px;
  font-size: 20px;
  margin: 5px;
  transition: all 0.3s ease 0s;
  background-color: #3a523b;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}
button:hover {
  background-color: #477548;
}
.content {
  flex: 1;
}
.a-link {
  align-items: center;
}
.test-link,
.test {
  padding-top: 30px;
  font-size: 24px;
  color: #b7c2b7;
  text-align: center;
  padding-bottom: 1px;
  margin-bottom: 1px;
  font-weight: 600;
}
.test-link-wrapper {
  text-align: center;
  justify-content: center;
}
.test-link:hover,
.test:hover {
  color: #959695;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}
.main p {
  color: #b7c2b7;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}
.main h1 {
  color: #b7c2b7;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding-top: 6px;
}
h2 {
  text-align: center;
  margin-bottom: 30px;
}
.name-form-group {
  margin-bottom: 15px;
}

.name-form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.name-form-group input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #b7c2b7;
  border-radius: 3px;
}
.wrapper {
  border-style: dashed;
  border-color: #b7c2b7;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 20px;
}
.main-content {
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

form p {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}
.main-h1 {
  color: #b7c2b7;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  padding-top: 18px;
}

input[type="radio"] {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

/* TEST  */

.test-wrapper {
  margin: 12px 30px;
  width: auto;
  background-color: #b7c2b7;
  border-radius: 16px;
  padding: 5px;
  padding-bottom: 12px;
}
.wrap {
  align-items: center;
  justify-content: center;
}
.question {
  padding: 10px;
}
.answer {
  margin: 10px;
  font-size: large;
}

.test-submit {
  align-items: center;
}
.about {
  width: 100%;
  height: 100%;
}

/* MY ACCOUNT */
.container {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-box {
  background-color: #3a523b;
  text-align: center;
  padding: 40px 90px;
  color: #959695;
  position: relative;
  border-radius: 20px;
}
.menu-photo {
  width: 25px;
  position: absolute;
  left: 40px;
  top: 40px;
}
.settings-photo {
  width: 25px;
  position: absolute;
  right: 40px;
  top: 40px;
}
.profile-photo {
  width: 150px;
  border-radius: 50%;
  background: #fff;
  padding: 6px;
  margin-top: 40px;
}
.settings {
  text-align: center;
  justify-content: center;
  background-color: #b7c2b7;
  border-radius: 12px;
  margin-top: 12px;
  padding: 10px;
}
.settings button {
  border-radius: 12px;
  background-color: #b7c2b7;
  border: none;
  cursor: pointer;
}
/* about */
.about {
  width: 100%;
  padding: 78px 0px;
}
.about img {
  height: auto;
  width: 300px;
  border: #959695;
  border-radius: 20px;
}
.about-text {
  background-color: #fff;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  border-color: #959695;
  border-style: solid 3px;
}
.main1 {
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-text h5 {
  text-align: center;
  color: #3a523b;
  font-size: 15px;
  text-transform: capitalize;
  margin-bottom: 25px;
  padding: 10px;
  letter-spacing: 2px;
}
.about-text p {
  color: #959695;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
.about-items {
  border-radius: 12px;
  padding: 40px 10px;
  margin: 20px 10px;
  background-color: #b7c2b7;
  width: auto;
  height: max-content;
}
