* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-image: url("./../images/frog.jpg");
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center; /* Це також центрує зображення вертикально всередині контейнера */
  height: 100vh;
}
.main p {
  color: #fff;
  text-align: center;
}
.main h1 {
  color: #fff;
  text-align: center;
}
h2 {
  text-align: center;
  margin-bottom: 30px;
}
.name-form-group {
  margin-bottom: 15px;
}
.test-link {
  margin-top: 30px;
  margin-bottom: 0px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
.name-form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.name-form-group input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #472dbb;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.submit-btn:hover {
  background-color: #4565a0;
}
p {
  margin-top: 15px;
}

form p {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

input[type="radio"] {
  margin-right: 10px;
}

.form-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Space between the elements */
  align-items: center; /* Center the elements vertically */
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.footer {
  width: 100%;
  border-radius: 3px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.a-test {
  display: block;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  color: #007bff;
}
.a-test:hover {
  text-decoration: dotted;
}
.header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header nav ul li {
  margin-left: 20px;
}
.header nav ul li a {
  color: #fff;
  text-decoration: none;
}
.header nav ul li p {
  color: #fff;
  text-decoration: none;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer ul li {
  display: inline;
  margin-right: 20px;
}

.footer ul li a {
  color: #fff;
  text-decoration: none;
}
